<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="fullname">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          id="fullname"
          required
          [(ngModel)]="tutorial.fullname"
          name="fullname"
        />
      </div>

      <div class="form-group">
        <label for="phone">Celular</label>
        <input
          class="form-control"
          id="phone"
          required
          [(ngModel)]="tutorial.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="date">Cumpleaños</label>
        <input
          class="form-control"
          id="date"
          required
          [(ngModel)]="tutorial.date"
          name="date"
        />
      </div>    
      <h6>Los identificadores de padre y madre los puedes obtener de la lista en el inicio de la página</h6>
      <div class="form-group">
        <label for="father">Identificador padre</label>
        <input
          class="form-control"
          id="father"
          required
          [(ngModel)]="tutorial.father"
          name="father"
        />
      </div>
      <div class="form-group">
        <label for="mother">Identificador madre</label>
        <input
          class="form-control"
          id="mother"
          required
          [(ngModel)]="tutorial.mother"
          name="mother"
        />
      </div>      

      <button (click)="saveTutorial()" class="btn btn-success">Crear registro</button>
    </div>
    <br>
    <strong class="btn-danger">{{error}}</strong>
    <div *ngIf="submitted">
      <h4>Registro creado!</h4>
      <button class="btn btn-success" routerLink="/families">Comprobar creación</button>
    </div>
  </div>
</div>
