<div class="list row">
  <div class="col-md-12">
    <h6 class="btn-danger" style="text-align: center;">
      Al crear un usuario por favor buscarlo por el nombre para verificar su creación.
      <br>
      <small>
        ya que se precargaron 5000 registros para que las pruebas puedan ser un poco mas reales
      </small>
    </h6>
    <br>
  </div>
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Busca por nombre"
        [(ngModel)]="fullname"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
   
    <button class="button" routerLink="/add" class="btn btn-success">Crear pariente
    </button>
  </div>
  

  <div class="col-md-6">
    <h4>Familiares</h4>
    <table>
      <thead>
        <tr><td>Nombre</td></tr>
      </thead>
    </table>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let familiy of families; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(familiy, i)"
      >
        {{ familiy.fullname }}
      </li>
    </ul>


  </div>
  <div class="col-md-6" style="right: 0;position: fixed;top: 257px;">
    <div *ngIf="currentTutorial"
    style="
    width: 30vw;
    background: #2a7bff;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;"
    >
      <h4>Familia</h4>
      <div>
        <label><strong>Identificador:</strong></label> {{ currentTutorial.id }}
      </div>      
      <div>
        <label><strong>Nombre:</strong></label> {{ currentTutorial.fullname }}
      </div>
      <div>
        <label><strong>Telefono:</strong></label>
        {{ currentTutorial.phone }}
      </div>
      <div>
        <label><strong>Familia:</strong></label>
        {{ currentTutorial.father ? "Tiene papá" : "No tiene papá" }}
        {{ currentTutorial.mother ? "Tiene mamá" : "No tiene mamá" }}
      </div>
    </div>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Haz clic para ver detalles del familiar...</p>
    </div>
  </div>
</div>
